In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('jobomas.csv')

In [5]:
df.head()

,Unnamed: 0,url,Job Title,Company,Applicants,Your Application,Recruiter Statistics,Location,Salary,Published,...,Other Job Openings at the Company,WhatsApp,Allows working from home,Languages,Minimum required education,Age,Computer skills,Work \n\n\n\n Day,\n\n\n\n Employment type,\n\n\n\n Salary
0,0,https://ng.jobomas.com/public-relation-officer...,\nPublic Relation Officer,\n\n\nDivine Communications,\nApplications: 7 | Visits: 41,\nYou have not applied yet,"\nCVs seen: 4, Deleted: 0, Unread: 1","\nLagos, Nigeria",Negotiable,\nYesterday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,https://ng.jobomas.com/financial-advisors_iid_...,\nFinancial Advisors,\n\n\nOld Mutual Life Assurance,\nApplications: 4 | Visits: 40,\nYou have not applied yet,"\nCVs seen: 0, Deleted: 0, Unread: 3","\nFct, Nigeria",Negotiable,\nYesterday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,https://ng.jobomas.com/business-development-ma...,\nBusiness Development Manager,\n\n\nSkies Resourcing,\nApplications: 4 | Visits: 11,\nYou have not applied yet,"\nCVs seen: 3, Deleted: 0, Unread: 1","\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n2 days ago,...,\nThe company has other active jobs (11),\n\n\n\n Send WhatsApp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,https://ng.jobomas.com/business-analyst_iid_35...,\nBusiness Analyst,\n\n\nSkies Resourcing,NaN,\nYou have not applied yet,NaN,"\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n2 days ago,...,\nThe company has other active jobs (11),\n\n\n\n Send WhatsApp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,https://ng.jobomas.com/business-office-assista...,\nBusiness Office Assistant,\n\n\nSilver Informatics,\nApplications: 6 | Visits: 25,\nYou have not applied yet,"\nCVs seen: 5, Deleted: 0, Unread: 1","\nAbule Egba, Nigeria","NGN 80,000.00 Monthly",\n2 days ago,...,\nThe company has other active jobs (2),\n\n\n\n Send WhatsApp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'url', 'Job Title', 'Company', 'Applicants',
       'Your Application', 'Recruiter Statistics', 'Location', 'Salary',
       'Published', 'ID', 'Employer Email', 'Share', 'Work Day',
       'Employment type', 'Positions available', 'Minimal experience',
       'Gender', 'Other Job Openings at the Company', 'WhatsApp',
       'Allows working from home', 'Languages', 'Minimum required education',
       'Age', 'Computer skills', 'Work \n\n\n\n Day',
       '\n\n\n\n Employment type', '\n\n\n\n Salary'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         953 non-null    int64
 1   url                                953 non-null    object
 2   Job Title                          953 non-null    object
 3   Company                            952 non-null    object
 4   Applicants                         919 non-null    object
 5   Your Application                   953 non-null    object
 6   Recruiter Statistics               914 non-null    object
 7   Location                           953 non-null    object
 8   Salary                             953 non-null    object
 9   Published                          953 non-null    object
 10  ID                                 953 non-null    int64
 11  Employer Email                     889 non-null    object
 12  Share                              0 non-null      float64
 13  Work Day                           949 non-null    object
 14  Employment type                    951 non-null    object
 15  Positions available                935 non-null    float64
 16  Minimal experience                 953 non-null    object
 17  Gender                             953 non-null    object
 18  Other Job Openings at the Company  438 non-null    object
 19  WhatsApp                           434 non-null    object
 20  Allows working from home           198 non-null    object
 21  Languages                          175 non-null    object
 22  Minimum required education         81 non-null     object
 23  Age                                143 non-null    object
 24  Computer skills                    97 non-null     object
 25  Work



 Day                      4 non-null      object
 26



 Employment type               2 non-null      object
 27



 Salary                        1 non-null      object
dtypes: float64(2), int64(2), object(24)
memory usage: 208.6+ KB

In [8]:
cols_drop = ['Unnamed: 0', 'Your Application', 'ID', 'Employer Email', 'Share', 'WhatsApp']

In [9]:
df.drop(cols_drop, axis=1, inplace=True)

In [10]:
df.head()

,url,Job Title,Company,Applicants,Recruiter Statistics,Location,Salary,Published,Work Day,Employment type,...,Gender,Other Job Openings at the Company,Allows working from home,Languages,Minimum required education,Age,Computer skills,Work \n\n\n\n Day,\n\n\n\n Employment type,\n\n\n\n Salary
0,https://ng.jobomas.com/public-relation-officer...,\nPublic Relation Officer,\n\n\nDivine Communications,\nApplications: 7 | Visits: 41,"\nCVs seen: 4, Deleted: 0, Unread: 1","\nLagos, Nigeria",Negotiable,\nYesterday,Full Time,Permanent Job,...,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://ng.jobomas.com/financial-advisors_iid_...,\nFinancial Advisors,\n\n\nOld Mutual Life Assurance,\nApplications: 4 | Visits: 40,"\nCVs seen: 0, Deleted: 0, Unread: 3","\nFct, Nigeria",Negotiable,\nYesterday,Full Time,Permanent Job,...,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://ng.jobomas.com/business-development-ma...,\nBusiness Development Manager,\n\n\nSkies Resourcing,\nApplications: 4 | Visits: 11,"\nCVs seen: 3, Deleted: 0, Unread: 1","\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n2 days ago,Full Time,Permanent Job,...,Indistinct,\nThe company has other active jobs (11),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://ng.jobomas.com/business-analyst_iid_35...,\nBusiness Analyst,\n\n\nSkies Resourcing,NaN,NaN,"\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n2 days ago,Full Time,Permanent Job,...,Indistinct,\nThe company has other active jobs (11),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://ng.jobomas.com/business-office-assista...,\nBusiness Office Assistant,\n\n\nSilver Informatics,\nApplications: 6 | Visits: 25,"\nCVs seen: 5, Deleted: 0, Unread: 1","\nAbule Egba, Nigeria","NGN 80,000.00 Monthly",\n2 days ago,Full Time,Permanent Job,...,Indistinct,\nThe company has other active jobs (2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.isna().sum()

url                                    0
Job Title                              0
Company                                1
Applicants                            34
Recruiter Statistics                  39
Location                               0
Salary                                 0
Published                              0
Work Day                               4
Employment type                        2
Positions available                   18
Minimal experience                     0
Gender                                 0
Other Job Openings at the Company    515
Allows working from home             755
Languages                            778
Minimum required education           872
Age                                  810
Computer skills                      856
Work \n\n\n\n Day                    949
\n\n\n\n Employment type             951
\n\n\n\n Salary                      952
dtype: int64

In [14]:
df.drop(df.columns[-3:], axis=1, inplace=True)

In [15]:
df.head()

,url,Job Title,Company,Applicants,Recruiter Statistics,Location,Salary,Published,Work Day,Employment type,Positions available,Minimal experience,Gender,Other Job Openings at the Company,Allows working from home,Languages,Minimum required education,Age,Computer skills
0,https://ng.jobomas.com/public-relation-officer...,\nPublic Relation Officer,\n\n\nDivine Communications,\nApplications: 7 | Visits: 41,"\nCVs seen: 4, Deleted: 0, Unread: 1","\nLagos, Nigeria",Negotiable,\nYesterday,Full Time,Permanent Job,3.0,Unspecified,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN
1,https://ng.jobomas.com/financial-advisors_iid_...,\nFinancial Advisors,\n\n\nOld Mutual Life Assurance,\nApplications: 4 | Visits: 40,"\nCVs seen: 0, Deleted: 0, Unread: 3","\nFct, Nigeria",Negotiable,\nYesterday,Full Time,Permanent Job,60.0,Unspecified,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN
2,https://ng.jobomas.com/business-development-ma...,\nBusiness Development Manager,\n\n\nSkies Resourcing,\nApplications: 4 | Visits: 11,"\nCVs seen: 3, Deleted: 0, Unread: 1","\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n2 days ago,Full Time,Permanent Job,1.0,Unspecified,Indistinct,\nThe company has other active jobs (11),NaN,NaN,NaN,NaN,NaN
3,https://ng.jobomas.com/business-analyst_iid_35...,\nBusiness Analyst,\n\n\nSkies Resourcing,NaN,NaN,"\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n2 days ago,Full Time,Permanent Job,1.0,Unspecified,Indistinct,\nThe company has other active jobs (11),NaN,NaN,NaN,NaN,NaN
4,https://ng.jobomas.com/business-office-assista...,\nBusiness Office Assistant,\n\n\nSilver Informatics,\nApplications: 6 | Visits: 25,"\nCVs seen: 5, Deleted: 0, Unread: 1","\nAbule Egba, Nigeria","NGN 80,000.00 Monthly",\n2 days ago,Full Time,Permanent Job,10.0,Unspecified,Indistinct,\nThe company has other active jobs (2),NaN,NaN,NaN,NaN,NaN

In [17]:
df.tail()

,url,Job Title,Company,Applicants,Recruiter Statistics,Location,Salary,Published,Work Day,Employment type,Positions available,Minimal experience,Gender,Other Job Openings at the Company,Allows working from home,Languages,Minimum required education,Age,Computer skills
948,https://ng.jobomas.com/structural-engineer_iid...,\nStructural Engineer,\n\nWhobbs Integrated Services,\nApplications: 7 | Visits: 162,"\nCVs seen: 7, Deleted: 0, Unread: 0","\nLagos, Nigeria",Negotiable,\n06/03/2022,Full Time,Permanent Job,1.0,Unspecified,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN
949,https://ng.jobomas.com/audit-control-officer_i...,\nAudit/Control Officer,\n\nWhobbs Integrated Services,\nApplications: 9 | Visits: 79,"\nCVs seen: 9, Deleted: 0, Unread: 0","\nLagos, Nigeria",Negotiable,\n06/03/2022,Full Time,Permanent Job,3.0,Unspecified,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN
950,https://ng.jobomas.com/account-officer_iid_343...,\nAccount Officer,\n\nWhobbs Integrated Services,\nApplications: 15 | Visits: 156,"\nCVs seen: 15, Deleted: 0, Unread: 0","\nLagos, Nigeria",Negotiable,\n06/03/2022,Full Time,Permanent Job,4.0,Unspecified,Indistinct,NaN,NaN,NaN,NaN,NaN,NaN
951,https://ng.jobomas.com/regional-business-manag...,\nRegional Business Manager,\n\n\nSandworth Properties Limited,\nApplications: 3 | Visits: 84,"\nCVs seen: 3, Deleted: 0, Unread: 0","\nOwerri, Nigeria",Negotiable,\n06/03/2022,Full Time,Permanent Job,2.0,Unspecified,Indistinct,\nThe company has other active jobs (3),NaN,NaN,NaN,NaN,NaN
952,https://ng.jobomas.com/warehouse-keeper_iid_34...,\nWarehouse Keeper,\n\n\nElite Plc,\nApplications: 29 | Visits: 137,"\nCVs seen: 27, Deleted: 0, Unread: 1","\nIkeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",\n06/03/2022,Full Time,Permanent Job,20.0,1 year,Indistinct -,NaN,NaN,Inglés Medium,Secundario Graduado,From 25 to 38 years,NaN

In [41]:
def strip_newline(text):
    if type(text) is str:
        return text.strip()
    else:
        pass

In [18]:
df['Job Title'] = df['Job Title'].apply(lambda row: row.strip())
#OR 
df['Job Title'] = df['Job Title'].apply(strip_newline)

In [43]:
df['Company'] = df['Company'].apply(strip_newline)
df['Applicants'] = df['Applicants'].apply(strip_newline)
df['Recruiter Statistics'] = df['Recruiter Statistics'].apply(strip_newline)
df['Location'] = df['Location'].apply(strip_newline)
df['Published'] = df['Published'].apply(strip_newline)
df['Other Job Openings at the Company'] = df['Other Job Openings at the Company'].apply(strip_newline)

In [88]:
for col in df.columns:
    df[col] = df[col].apply(strip_newline)

In [79]:
s = ['Salary', 'Published','Work Day', 'Employment type', 'Positions available','Minimal experience', 'Gender']
for col in s:
    df[col] = df[col].apply(strip_newline)

In [89]:
df.head()

,url,Job Title,Company,Location,Salary,Published,Work Day,Employment type,Positions available,Minimal experience,...,Allows working from home,Languages,Minimum required education,Age,Computer skills,Applications,Visits,CV seen,CV deleted,CV unseen
0,https://ng.jobomas.com/public-relation-officer...,Public Relation Officer,Divine Communications,"Lagos, Nigeria",Negotiable,Yesterday,Full Time,Permanent Job,None,Unspecified,...,None,None,None,None,None,7,41,4,0,1
1,https://ng.jobomas.com/financial-advisors_iid_...,Financial Advisors,Old Mutual Life Assurance,"Fct, Nigeria",Negotiable,Yesterday,Full Time,Permanent Job,None,Unspecified,...,None,None,None,None,None,4,40,0,0,3
2,https://ng.jobomas.com/business-development-ma...,Business Development Manager,Skies Resourcing,"Ikeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",2 days ago,Full Time,Permanent Job,None,Unspecified,...,None,None,None,None,None,4,11,3,0,1
3,https://ng.jobomas.com/business-analyst_iid_35...,Business Analyst,Skies Resourcing,"Ikeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",2 days ago,Full Time,Permanent Job,None,Unspecified,...,None,None,None,None,None,None,None,None,None,None
4,https://ng.jobomas.com/business-office-assista...,Business Office Assistant,Silver Informatics,"Abule Egba, Nigeria","NGN 80,000.00 Monthly",2 days ago,Full Time,Permanent Job,None,Unspecified,...,None,None,None,None,None,6,25,5,0,1

In [54]:
df['Applications'] = df['Applicants'].apply(lambda row: row.split(' | ')[0].split(': ')[1] if row is not None else None)
df['Visits'] = df['Applicants'].apply(lambda row: row.split(' | ')[1].split(': ')[1] if row is not None else None)

In [66]:
df['CV seen'] = df['Recruiter Statistics'].apply(lambda row: row.split(',')[0].split(': ')[1] if row is not None else None)
df['CV deleted'] = df['Recruiter Statistics'].apply(lambda row: row.split(',')[1].split(': ')[1] if row is not None else None)
df['CV unseen'] = df['Recruiter Statistics'].apply(lambda row: row.split(',')[2].split(': ')[1] if row is not None else None)

In [ ]:
def split_applicants(text):
    if text is not None:
        return text.split(' | ')[0].split(': ')[1]
    else:
        return None

In [69]:
df.head()

,url,Job Title,Company,Location,Salary,Published,Work Day,Employment type,Positions available,Minimal experience,...,Allows working from home,Languages,Minimum required education,Age,Computer skills,Applications,Visits,CV seen,CV deleted,CV unseen
0,https://ng.jobomas.com/public-relation-officer...,Public Relation Officer,Divine Communications,"Lagos, Nigeria",Negotiable,Yesterday,Full Time,Permanent Job,3.0,Unspecified,...,NaN,NaN,NaN,NaN,NaN,7,41,4,0,1
1,https://ng.jobomas.com/financial-advisors_iid_...,Financial Advisors,Old Mutual Life Assurance,"Fct, Nigeria",Negotiable,Yesterday,Full Time,Permanent Job,60.0,Unspecified,...,NaN,NaN,NaN,NaN,NaN,4,40,0,0,3
2,https://ng.jobomas.com/business-development-ma...,Business Development Manager,Skies Resourcing,"Ikeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",2 days ago,Full Time,Permanent Job,1.0,Unspecified,...,NaN,NaN,NaN,NaN,NaN,4,11,3,0,1
3,https://ng.jobomas.com/business-analyst_iid_35...,Business Analyst,Skies Resourcing,"Ikeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",2 days ago,Full Time,Permanent Job,1.0,Unspecified,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
4,https://ng.jobomas.com/business-office-assista...,Business Office Assistant,Silver Informatics,"Abule Egba, Nigeria","NGN 80,000.00 Monthly",2 days ago,Full Time,Permanent Job,10.0,Unspecified,...,NaN,NaN,NaN,NaN,NaN,6,25,5,0,1

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   url                                953 non-null    object
 1   Job Title                          953 non-null    object
 2   Company                            952 non-null    object
 3   Location                           953 non-null    object
 4   Salary                             953 non-null    object
 5   Published                          953 non-null    object
 6   Work Day                           949 non-null    object
 7   Employment type                    951 non-null    object
 8   Positions available                0 non-null      object
 9   Minimal experience                 953 non-null    object
 10  Gender                             953 non-null    object
 11  Other Job Openings at the Company  438 non-null    object
 12  Allows working from home           198 non-null    object
 13  Languages                          175 non-null    object
 14  Minimum required education         81 non-null     object
 15  Age                                143 non-null    object
 16  Computer skills                    97 non-null     object
 17  Applications                       919 non-null    object
 18  Visits                             919 non-null    object
 19  CV seen                            914 non-null    object
 20  CV deleted                         914 non-null    object
 21  CV unseen                          914 non-null    object
dtypes: object(22)
memory usage: 163.9+ KB

In [101]:
df['Age'].unique()

array([None, 'From 20 to 35 years', 'From 22 to 40 years',
       'From 30 to 40 years', 'From 25 to 40 years',
       'From 20 to 56 years', 'From 20 to 45 years',
       'From 20 to 34 years', 'From 23 to 40 years',
       'From 18 to 90 years', 'From 20 to 20 years',
       'From 17 to 30 years', 'From 18 to 25 years',
       'From 18 to 50 years', 'From 22 to 35 years',
       'From 25 to 35 years', 'From 18 to 33 years',
       'From 17 to 35 years', 'From 20 to 60 years',
       'From 18 to 40 years', 'From 20 to 30 years',
       'From 22 to 45 years', 'From 18 to 30 years',
       'From 22 to 30 years', 'From 25 to 50 years',
       'From 21 to 31 years', 'From 26 to 35 years',
       'From 20 to 70 years', 'From 23 to 35 years',
       'From 24 to 35 years', 'From 16 to 50 years',
       'From 23 to 26 years', 'From 24 to 36 years',
       'From 19 to 30 years', 'From 20 to 50 years',
       'From 23 to 50 years', 'From 16 to 35 years',
       'From 35 to 45 years', 'From 25 to 29 years',
       'From 24 to 26 years', 'From 30 to 35 years',
       'From 25 to 30 years', 'From to 45 years', 'From 30 to 45 years',
       'From 27 to 35 years', 'From 23 to 29 years',
       'From 18 to 60 years', 'From 20 to 22 years',
       'From 26 to 45 years', 'From 18 to 45 years',
       'From 18 to 70 years', 'From 19 to 45 years',
       'From 20 to 32 years', 'From 22 to 25 years',
       'From 28 to 45 years', 'From 21 to 28 years',
       'From 18 to 28 years', 'From 21 to 35 years',
       'From 16 to 555 years', 'From to 20 years', 'From 25 to 45 years',
       'From 20 to 27 years', 'From 29 to 45 years',
       'From 20 to 40 years', 'From 21 to 30 years',
       'From 18 to 35 years', 'From to 28 years', 'From 20 to 75 years',
       'From 30 to 50 years', 'From 22 to 50 years',
       'From 22 to 28 years', 'From 28 to 35 years',
       'From 24 to 40 years', 'From 21 to 50 years',
       'From 25 to 55 years', 'From 25 to 38 years'], dtype=object)

In [78]:
for col

Index(['url', 'Job Title', 'Company', 'Location', 'Salary', 'Published',
       'Work Day', 'Employment type', 'Positions available',
       'Minimal experience', 'Gender', 'Other Job Openings at the Company',
       'Allows working from home', 'Languages', 'Minimum required education',
       'Age', 'Computer skills', 'Applications', 'Visits', 'CV seen',
       'CV deleted', 'CV unseen'],
      dtype='object')

In [68]:
df.drop(['Applicants', 'Recruiter Statistics'], axis=1, inplace=True)

In [59]:
'Applications: 7 | Visits: 41'.split(' | ')[0].split(': ')[1]

'7'

In [64]:
'CVs seen: 4, Deleted: 0, Unread: 1'.split(',')[2].split(': ')[1]

'1'

In [104]:
'From to 20 years'.split(' to ')[0].split(' ')

['From']

In [105]:
def get_min_age(text):
    if text is None:
        return None
    else:
        if len(text.split(' to ')[0].split(' ')) == 1:
            return 17
        else:
            return text.split(' to ')[0].split(' ')[1]

In [108]:
def get_max_age(text):
    if text is None:
        return None
    else:
        return text.split(' to ')[1].split(' ')[0]

In [110]:
get_max_age('From to 20 years')

'20'

In [111]:
df['min_age'] = df['Age'].apply(get_min_age)
df['max_age'] = df['Age'].apply(get_max_age)

In [113]:
df.tail()

,url,Job Title,Company,Location,Salary,Published,Work Day,Employment type,Positions available,Minimal experience,...,Minimum required education,Age,Computer skills,Applications,Visits,CV seen,CV deleted,CV unseen,min_age,max_age
948,https://ng.jobomas.com/structural-engineer_iid...,Structural Engineer,Whobbs Integrated Services,"Lagos, Nigeria",Negotiable,06/03/2022,Full Time,Permanent Job,None,Unspecified,...,None,None,None,7,162,7,0,0,None,None
949,https://ng.jobomas.com/audit-control-officer_i...,Audit/Control Officer,Whobbs Integrated Services,"Lagos, Nigeria",Negotiable,06/03/2022,Full Time,Permanent Job,None,Unspecified,...,None,None,None,9,79,9,0,0,None,None
950,https://ng.jobomas.com/account-officer_iid_343...,Account Officer,Whobbs Integrated Services,"Lagos, Nigeria",Negotiable,06/03/2022,Full Time,Permanent Job,None,Unspecified,...,None,None,None,15,156,15,0,0,None,None
951,https://ng.jobomas.com/regional-business-manag...,Regional Business Manager,Sandworth Properties Limited,"Owerri, Nigeria",Negotiable,06/03/2022,Full Time,Permanent Job,None,Unspecified,...,None,None,None,3,84,3,0,0,None,None
952,https://ng.jobomas.com/warehouse-keeper_iid_34...,Warehouse Keeper,Elite Plc,"Ikeja, Nigeria","NGN 80,000.00 - 100,000.00 Monthly",06/03/2022,Full Time,Permanent Job,None,1 year,...,Secundario Graduado,From 25 to 38 years,None,29,137,27,0,1,25,38

In [115]:
df['Company'].value_counts()[:10]

Westfield Consulting                            48
Healthrak                                       21
Hinge Consulting                                19
Skies Resourcing                                13
Elite Venture                                   13
Wellsliveconst                                  12
Hinge Consulting Firm                           10
Wells & Health Consulting Agency                10
KEDI Healthcare Industries (Nigeria) Limited     8
Phoenixoutsourcing                               8
Name: Company, dtype: int64

In [116]:
df.to_csv('jobomas_v2.csv', index=False)